<%- include('../../partials/header') %> <!-- o ejs identifica a partir da pasta views -->

<body>
    <%- include('../../partials/navbar')%>
  
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar Artigo </h2>
                
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    <input type="hidden" name="id" value="<%= %>">
                    <textarea type="text" class="form-control" id="texto" value=">" name="body"  placeholder="Escreva seu artigo"></textarea><br>
                    <select class="form-control mt-2 mb-2" name="category" id="" style="width: 30%;">
                        <option selected="true"  disabled="disabled">selecione uma categoria</option>
                        <% categorias.forEach(item => {  %>
                            <option value="<%= item.id %>"> <%= item.title %></option>
                        <% }) %>
                    </select>
                    <button class="btn btn-success">Atualizar</button>
                    <a href="/admin/artigos" class="btn btn-secondary">voltar</a>
                </form>
            </div>
        </div>
    </div>

    <div id="content" style="display: none;"> <%- artigos.body %> </div>

</body>




<%- include('../../partials/footer') %>


<script>

    tinymce.init({
        selector: '#texto',
        language: 'pt_BR',
        init_instance_callback: () => { tinymce.get('texto').setContent(document.getElementById('content').innerHTML) }
    })

</script>